ul li {
  list-style-type: circle;
}

.app-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.content-wrapper {
  display: flex;
  /*background-color: gold;*/
  flex-direction: row;
}

.content img {
  width: 600px;
}