ul li {
  list-style-type: circle;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.nav {
  width: 200px;
  background-color: orange;
}

.header {
  background-color: grey;
  /*width: 600px;*/

}

.header img {
  height: 100px;
}

.content-wrapper {
  display: flex;
  background-color: gold;
  flex-direction: row;
}

.content img {
  width: 600px;
}