.content {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: burlywood;
    padding: 10px;
}

.dialogsItem {
    width: 100px;
}

.dialogsItem .active {
    color: white;
}